DISCORD_TOKEN= # Put Your Bot Token 
RCON_HOST= # put rcon host `` or Server ip 
RCON_PORT= # put Your rcon port which is used by rcon 
RCON_PASSWORD= #put your rcon password
MONITOR_CHANNEL_ID=1330848652239044630 # Where People Can Whitelist Themself 
LIMITED_ROLE_ID=1363187592555663481 #role id Which Can Whitelist `` Limit One Whitelist Per Person 
UNLIMITED_ROLE_ID=1386736317404020947 #Role Which Can Whitelist  Person `` Unlimted Whitelist 
AUTO_ROLE_ID=1386736317404020947 # Put Role Id Which has Console Access ``This Role WIll Have Access of Auto Cmds Means Console Access Via Bot 
WEBHOOK_URL=  # put Your Webhook url FOr Logging 
